@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать, это домашняя страница InstituteHub.</h1>
    <p>Для использования сервиса зарегестрируйтесь или авторизуйтесь под своими данными.</p>
</div>