@{
    ViewData["Title"] = "Политика конфиденциональности";
}
<h1>@ViewData["Title"]</h1>

<div class="stblck">
    <h1>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h1>

    <p>Пользуясь нашим сервисом, Вы доверяете нам свою личную информацию. Мы делаем все для обеспечения ее безопасности и в то же время предоставляем Вам возможность управлять своими данными.</p>

    <p>Внимательно изучите нашу Политику конфиденциальности, чтобы знать, какие сведения мы собираем, в каких целях их используем и как Вы можете их изменять, экспортировать или удалять.</p>
</div>