@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Совещание 21.06";
}

<div class="conference_main">
    <div class="conference_video">
        <div class="conference_caption">
            <h4 style="color:white">Совещание 21.06</h4>
        </div>
        <div class="main_video_section">
            <div class="video_section">
                <h3 style="color:white">Данное cовещание запланировано на 21.06</h3>
            </div>
            <div class="under_video_section">
                <button class="icon_button" disabled>
                    <img src="/images/conference/camera_icon.png" alt="Камера">
                </button>
                <button class="icon_button" disabled>
                    <img src="/images/conference/microphone_icon.png" alt="Микрофон">
                </button>
            </div>
        </div>
    </div>
    <div class="conference_chat">
        <div class="chat_caption">
            <h4>Чат</h4>
        </div>
        <div class="chat_history">
        </div>
        <div class="chat_input">
            <input type="text" name="name" value="" disabled/>
        </div>
    </div>
</div>